@font-face {
  font-family: "Dela Gothic One";
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/delagothicone-regular-webfont.woff2") format("woff2"),
    url("/fonts/delagothicone-regular-webfont.woff") format("woff");
}
@font-face {
  font-family: "Dela Gothic One";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/delagothicone-regular-webfont.woff2") format("woff2"),
    url("/fonts/delagothicone-regular-webfont.woff") format("woff");
}
@font-face {
  font-family: "Dela Gothic One";
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/delagothicone-regular-webfont.woff2") format("woff2"),
    url("/fonts/delagothicone-regular-webfont.woff") format("woff");
}
@font-face {
  font-family: "Chivo";
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/chivo-variable-wght.ttf") format("ttf");
}
