@use "../abstracts/" as *;

.card {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: $card-flow-spacing;
  background-color: $card-background-default;
  font-family: $card-font-family;
  color: $card-color-default;
  line-height: $card-line-height;
  box-shadow: $card-shadow;
  border-radius: $card-border-radius;
  padding: $card-padding $card-padding-inline-default;
  
  @include mq(small) {
    min-height: 20rem;
  }

  @include mq(large) {
    min-height: 32rem;
    padding-inline: $card-padding-inline-medium;
  }

  &__heading {
    @include heading($card-heading-font-size, $card-heading-color-default);
  }
}
