@use "../abstracts/" as *;

.projects {
    .card {
        padding-inline: 1rem;
        @include mq(medium) {
            padding-inline: 2rem; 
        }
    }
    &__list {
        justify-items: center;
    }
}